/META.yml
/MYMETA.*
/blib/
/inc/
/pm_to_blib
/README.pod
/local
/MANIFEST
/MANIFEST.bak
/Makefile
/Makefile.old
/cover_db/
/npm-debug.log
.sass-cache
*.old
*.swp
*.cache
~$
/Mojolicious-Plugin-AssetPack*tar.gz
/public/packed/
/t/public/packed/
/node_modules
